*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.header{
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 0px;
  z-index: 9999999999999;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.header .navbar .navbar-brand img{
  width: 35px;
  height: 35px;
}
.header .navbar .navbar-toggler i{
  color: black;
}
.header .navbar .navbar-collapse ul li a{
  color: black;
  font-size: 15px;
  font-family: sans-serif;
}
.header .navbar .navbar-collapse ul li .btn{
  border-radius: 20px;
  font-size: 14px;
  padding: 8px 20px;
  border: 2px solid rgb(255,165,0);
  font-weight: 600;
}
.header .navbar .navbar-collapse ul li .btn i{
  color: rgb(255,165,0);
}



/* ========== card-1 ========== */
.card-1 .column-top .card-1-logo img{
  width: 100%;
}
.card-1 .column-top .card-1-text h1{
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  font-size: 48px;
}
.card-1 .column-top .card-1-text h2{
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: rgba(32, 32, 32, 0.6);
}
.card-1 .column-top .card-1-text .card-1-btn a{
  background-color: rgb(255,165,0);
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  padding: 10px 30px;
  transition: all 0.5s;
}
.card-1 .column-top .card-1-text .card-1-btn a:hover{
  background-color: rgb(32,157,216);
}


/* ========== card-2 ========== */
.card-2{
  background-color: rgb(243,245,250);
}
.card-2 .card-2-section .row img{
  width: 120px;
  filter: grayscale(100);
  transition: all 0.5s;
}
.card-2 .card-2-section .row img:hover{
  filter: grayscale(0);
  transform: scale(1.2, 1.2);
}


/* ========== card-3 ========== */
.card-3 .card-3-section .row .col-12 h2{
  position: relative;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  color: rgb(55,81,126);
  font-size: 32px;
}
.card-3 .card-3-section .row .col-12 h2:before{
  content: "";
  position: absolute;
  bottom: 1px;
  left: calc(50% - 50px);
  width: 113px;
  height: 2px;
  background-color: rgb(221,221,221);
}
.card-3 .card-3-section .row .col-12 h2:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 50px;
  height: 4px;
  background-color: rgb(255,165,0);
}
.card-3 .card-3-section .row .card-3-img img{
  width: 100%;
}
.card-3 .card-3-section .row .card-3-text p{
  color: rgb(68,68,68);
  font-family: sans-serif;
}
.card-3 .card-3-section .row .card-3-text a{
  border: 2px solid rgb(255,165,0);
  color: rgb(255,165,0);
  border-radius: 5px;
  padding: 10px 30px;
  font-weight: 500;
}
.card-3 .card-3-section .row .card-3-text a:hover{
  color: white;
  background-color: rgb(255,165,0);
}


/* ========== card-4 ========== */
.card-4 .card-4-section .row .col-12 h2{
  position: relative;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  color: rgb(55,81,126);
  font-size: 32px;
}
.card-4 .card-4-section .row .col-12 h2:before{
  content: "";
  position: absolute;
  bottom: 1px;
  left: calc(50% - 50px);
  width: 113px;
  height: 2px;
  background-color: rgb(221,221,221);
  
}
.card-4 .card-4-section .row .col-12 h2:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 50px;
  height: 4px;
  background-color: rgb(255,165,0);
}
.card-4 .card-4-section .row {
  color: rgb(68,68,68);
  font-family: sans-serif;
  font-weight: 500;
}
.card-4 .card-4-section .row .card-4-li ul{
  list-style-type: none;
  padding: 0;
}
.card-4 .card-4-section .row .card-4-li ul li i{
  color: rgb(255,165,0);
}

.card-4 .card-4-section .row .card-4-text a{
  border: 2px solid rgb(255,165,0);
  color: rgb(255,165,0);
  border-radius: 5px;
  padding: 8px 30px;
  font-weight: 500;
}
.card-4 .card-4-section .row .card-4-text a:hover{
  color: white;
  background-color: rgb(255,165,0);
}
/* ========== card-5 ========== */
.card-5{
  background-color: rgb(243,245,250);
}
.card-5 .card-5-section .row .col-12 h2{
  position: relative;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  color: rgb(55,81,126);
  font-size: 32px;
}
.card-5 .card-5-section .row .col-12 h2:before{
  content: "";
  position: absolute;
  bottom: 1px;
  left: calc(50% - 50px);
  width: 113px;
  height: 2px;
  background-color: rgb(221,221,221);
  
}
.card-5 .card-5-section .row .col-12 h2:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 50px;
  height: 4px;
  background-color: rgb(255,165,0);
}
.card-5 .card-5-section .row .px-2{
  height: 250px;
  transition: all 0.5s;
  position: relative;
}
.card-5 .card-5-section .row .px-2:hover{
  transform: translateY(-12px);
}
.card-5 .card-5-section .row div img{
  width: 100%;
  height: 100%;
}
.card-5 .card-5-section .row .px-2 h4{
  background-color: rgb(255,165,0);
  width: 96%;
  top: 48px;
  left: 8.5px;
  position: absolute;
}
.card-5 .card-5-section .row .px-2 h4 a{
  text-decoration: none;
  font-family: 'Amiri', serif;
  font-weight: 700;
  color: white;
}


/* ========== card-6 ========== */
.card-6{
  background-color: rgb(243,245,250);
}
.card-6 .card-6-section .row .col-12 h2{
  position: relative;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  color: rgb(55,81,126);
  font-size: 32px;
}
.card-6 .card-6-section .row .col-12 h2:before{
  content: "";
  position: absolute;
  bottom: 1px;
  left: calc(50% - 50px);
  width: 113px;
  height: 2px;
  background-color: rgb(221,221,221);
  
}
.card-6 .card-6-section .row .col-12 h2:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 50px;
  height: 4px;
  background-color: rgb(255,165,0);
}
.card-6 .card-6-section .row .col-12 p{
  color: rgb(68,68,68);
  font-family: sans-serif;
  font-weight: 500;
}
.card-6 .card-6-section .row .card-6-img img{
  width: 100%;
}


/* ========== card-7 ========== */
.card-7 .card-7-section .row .col-12 h2{
  position: relative;
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  color: rgb(55,81,126);
  font-size: 32px;
}
.card-7 .card-7-section .row .col-12 h2:before{
  content: "";
  position: absolute;
  bottom: 1px;
  left: calc(50% - 50px);
  width: 113px;
  height: 2px;
  background-color: rgb(221,221,221);
}
.card-7 .card-7-section .row .col-12 h2:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 50px;
  height: 4px;
  background-color: rgb(255,165,0);
}

.card-7 .card-7-section .row .col-12 p{
  color: rgb(68,68,68);
  font-family: sans-serif;
  font-weight: 500;
}
.card-7 .card-7-section .row .row .col-md-6 img{
  width: 100%;
  height: 100%;
}
.card-7 .card-7-section .row .row .cad-6-form{
  border-top: 3px solid rgb(255,165,0);
  border-bottom: 3px solid rgb(255,165,0);
  box-shadow: 0px 0px 20px rgba(32, 32, 32, 0.4);
}
.card-7 .card-7-section .row .row .col-md-6 form label{
  display: block;
}
.card-7 .card-7-section .row .row .col-md-6 form button{
  background-color: rgb(255,165,0);
  color: white;
  border-radius: 20px;
  width: 33%;
  padding: 10px 10px;
}
/* ========== card-8 ========== */
.card-8 .card-8-section .last h4{
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  color: rgb(55,81,126);
  font-size: 16px;
}
.card-8 .card-8-section .last p{
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(68,68,68);
}
.card-8 .card-8-section .last .social-links a{
  background-color: rgb(255,165,0);
  display: inline-block;
  color: white;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  padding: 7px 0px;
  margin-right: 3px;
}
/* ========== footer ========== */
.footer{
  background-color: rgb(55,81,126);
  color: white;
}
.footer .footer-section .row .left-section{
  font-size: 14px;
  font-family: sans-serif;
}
.footer .footer-section .row .left-section span{
  font-weight: bold;
}
.footer .footer-section .row .right-section{
  font-size: 13px;
  font-family: sans-serif;
}
.footer .footer-section .row .right-section a{
  color: rgb(255,165,0);
}


/* ========== Offers-card-1 ========== */
.offers-1{
  background-color: rgb(243,245,250);
}
.offers-1 .offers-1-section .row ol{
  list-style-type: none;
  display: flex;
  width: 100%;
}
.offers-1 .offers-1-section .row ol li a{
  color: rgb(255,165,0);
  text-decoration: none;
}
.offers-1 .offers-1-section .row ol li+li{
  padding-left: 10px;
}
.offers-1 .offers-1-section .row ol .offering{
  position: relative;
}
.offers-1 .offers-1-section .row ol .offering::before{
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: "/";
}
.offers-1 .offers-1-section .row h2{
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  color: rgb(55,81,126);
}

/* ========== Offers-card-2 ========== */
.offers-2 .offers-2-section .row .card img{
  width: 100%;
}
/* ========== Extras ========== */
.padtop-60{
  padding-top: 60px;
}
.padtop-85{
  padding-top: 85px;
}

